ion-content {
    --background: #17202A;
    --color: #fff;
}

ion-item {
    --background: #34495E;
    --color: #fff;
}

ion-list {
    background-color: #34495E;
}

p {
    color: white;
}