ion-title {
    // margin-bottom: 50px;
    margin-top: 30px;
    font-size: 35px;
}

ion-toolbar {
    --background: #212F3D;
    --color: #fff;
}

.clases {
    --background: #85C1E9;
}

ion-card-title {
    --color: #fff
}

ion-label {
    --color: #fff
}

ion-content {
    --background: #17202A;
    --color: #fff;
}

.coach {
    --background: #34495E;
    --color: white;
}

p {
    color: white;
}

ion-list {
    background-color: #34495E;
}