.container {
    font-size: 250px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-title {
    text-align: center;
}

.lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ion-list {
    min-width: 300px;
    background-color: #17202A;
}

ion-button {
    --background: #85C1E9;
    margin-top: 20px;
}

ion-input {
    --color: white;
}

ion-content,
ion-item {
    --background: #17202A;
    --color: #fff;
}